@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>More information: </strong> <a href="http://educandoweb.com.br"> educandoweb.com.br</a>
</address>